body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0px; padding:0px;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
em,strong,th,i{ font-weight:normal; font-style:normal;}
ol,ul{ list-style-type:none; list-style-position:outside;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
body{font-family:Microsoft YaHei; font-size:14px;}
div{margin-left:auto;margin-right:auto;}
a{text-decoration:none;}
.clearfix:after { 
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
   font-size: 0;
}
.clearfix {display:inline-block;}
*html .clearfix {height:1%;}
.clearfix {display: block;}
.clearfix {zoom: 1;}

.f_r{float:right;_display:inline;}
.f_l{float:left;_display:inline;}

html{ overflow-x:hidden;}


/******************/
.header{ position:relative; height:730px; background:#61B9C5 url(../images/header_bg.jpg) no-repeat center top; overflow:hidden;}
.logo{ position:absolute;top:36px; left:43px;}
.header_main{ width:1312px;padding-top:118px;height:100%;}
.header_title{ width:900px; position:relative; z-index:100;}
.header_title dl dd{ font-size:29px;color:white; line-height:50px;}
.header_title dl dd.down{ position:absolute;right:180px;bottom:10px;}
.header_next{ height:424px; width:895px; position:relative;margin-top:58px;}
.scan{ position:absolute;left:0;top:0px/*-159px*/; opacity:0;filter:alpha(opacity=0);}
.header_next .qipao{ position:absolute;}
.header_next .qipao img{ position:absolute;width:0;top:50%;left:50%; height:auto;}
.header_next .qipao1{left:-205px; bottom:136px; height:131px; width:135px;}
.header_next .qipao2{left:-220px; top:-80px; height:144px; width:159px;}
.header_next .qipao3{right:-200px; bottom:165px; height:143px; width:139px;}
.jiemian{ height:830px; width:1210px; position:relative;}
.func_infos{ height:310px; width:440px;margin:245px 0 0 0;}
.func_infos_word dt{ font-size:36px;margin-bottom:10px;color:#333;}
.func_infos_word dd{ line-height:22px;color:#333;}

.ewm_wrap{margin-top:40px;}
.buy_now{margin:57px 0 0 30px;}
.buy_now dl dt{color:#fc7878; line-height:43px;}
.ipad{ position:absolute;height:525px; top:50%;margin-top:-262.5px;left:-200px/*20px*/; opacity:0;filter:alpha(opacity=0);}
.slide_menu{ height:827px; background:#CDECEF; overflow:hidden; position:relative;}
.slide_title{width:490px;padding-top:95px; position:relative; z-index:10;}

.slide_title dt{ text-align:center; font-size:36px;color:#333;margin-bottom:10px;}
.slide_title dd{line-height:22px;color:#333;}
.point_ipad{ width:696px;position:absolute;left:50%;bottom:0;margin-left:-388px; height:537px; z-index:10;}
.point_ipad_wrap{ position:absolute;left:0;top:200px;opacity:0;filter:alpha(opacity=0);}

.slide_menu .cloud{ position:absolute;top:0;left:0;z-index:1;}
.scan_func{ height:830px; position:relative; background:#DCF1E0;}
.scan_func_wrap{ position:absolute; width:1018px; height:505px; bottom:70px;left:50%;margin-left:-509px;}
.s_func{ position:absolute;left:0;top:200px;opacity:0;filter:alpha(opacity=0);}


.person_center{height:830px; position:relative; background:#F5E2E2;}
.person_wrap{ width:892px; position:absolute; bottom:0;height:536px;left:50%;margin-left:-446px;}
.person_center_wrap{ position:absolute;left:0;top:200px;opacity:0;filter:alpha(opacity=0);}
.person_wrap2{ position:absolute; left:0;top:0; width:100%; height:100%; overflow:hidden;}

.persons{ position:absolute; z-index:20;}
.persons img{ position:absolute;left:50%;top:50%; width:0; height:auto;}
.p_one{top:-20px;left:-20px; height:181px; width:181px;}
.p_two{left:245px;top:-80px; height:145px; width:145px;}
.p_three{ height:180px; width:180px; right:245px;top:-70px;}
.p_four{ height:200px; width:162px;right:-10px;top:-10px;}

.shopping{height:830px; position:relative; background:#F9F5E7;}
.scrollings{ position:absolute; bottom:70px; left:50%; width:1200px; margin-left:-600px;height:510px;}

.more_func{ height:622px; background:white;}
.more_func_wrap{padding:70px 0; width:900px;}
.more_func_wrap h1{color:#333; font-size:36px; text-align:center;}
.func_model{padding:50px 0 20px 0;}
.func_model .f_l{width:25%; text-align:center;}
.func_model .f_l dd{ line-height:55px;color:#333; font-size:18px;}
.want_buy{ text-align:center; font-size:36px;}
.want_buy span{color:#cc4342;}
.want_buy b{ font-weight:normal; font-size:60px;color:#cc4342;}
.some_btn{ text-align:center;margin-top:45px;}
.some_btn a{margin:0 10px;}
.footer_link{ height:90px; background:#000; text-align:center;color:white; font-size:12px;}
.footer_link div{padding:15px 0 0 0;}
.footer_link a{color:white;margin:0 10px;}
.footer_link dt{ line-height:35px;}

.left_btn,.right_btn{ position:absolute; cursor:pointer; top:50%; height:100px; margin-top:-50px; z-index:11;}

.left_btn{left:80px;}
.right_btn{right:80px;}
.scrollings_wrap{ height:100%; width:100%; position:absolute; z-index:10;}

.scrollings_wrap div{ position:absolute;}
.scrollings_wrap div img{height:100%;}
.order{ height:330px;left:20px;top:0px;}
.scrollings_wrap div.shop{height:430px;top:60px;left:315px;}
.pay{height:330px;top:0px;left:730px;}


.suspension { position: fixed; z-index:999; right: 10px; bottom: 10px; width: 80px; height: 204px; }.suspension-box { position: relative; float: right; }.suspension-box a.a { display: block; width: 50px; height: 50px; background-color: #B5B5B5; margin-bottom: 1px; cursor: pointer; }.suspension-box a.back_top { background-color: #797979; }.suspension-box a.qq:hover,.suspension-box a.tel:hover,.suspension-box a.code:hover { opacity: 0.8; filter: alpha(opacity=80); }.suspension-box a.back_top:hover { background-color: #FC7878; }.suspension-box a i { display: block; float: left; width: 25px; margin-left: 15px; margin-top: 15px; background-image: url(../images/suspension-bg.png); background-repeat: no-repeat; text-indent: -9999px; }.suspension-box a.qq i { background-position: 0 0; }.suspension-box a.tel i { background-position: -25px 0; }.suspension-box a.code i { background-position: 0 -25px; }.suspension-box a.back_top i { background-position: -28px -25px; }.suspension-box div.code { position: absolute; left: -187px; *left: -207px; top: 0; display: none; width: 178px; height: 198px; padding-left: 10px; padding-top: 10px; background-color: #fff; border: 1px solid #D9D9D9; }.suspension-box div.code p { width: 155px; margin-top: 5px; text-align: center; }.suspension-box div.code i { width: 8px; height: 15px; position: absolute; top: 118px; right: -8px; background-image: url(../images/trangle-right-suspension.png); background-repeat: no-repeat; }.suspension-box div.tencent { position: absolute; left: -187px; top: 0px; width: 177px; height: 85px; display:none; background-color: #fff; border: 1px solid #D7D7D7; }.suspension-box div.tencent p.tencent-p { width: 75px; float: right; margin-right: 18px; margin-top: 18px; font-size: 16px; color: #333; }.suspension-box div.tencent i.tencent-i { width: 8px; height: 15px; position: absolute; top: 10px; right: -8px; text-indent: -9999px; background-image: url(../images/trangle-right-suspension.png); background-repeat: no-repeat; }.suspension-box div.tencent b.tencent-b { position: absolute; left: 10px; top: 10px; width: 62px; height: 64px; background-image: url(../images/circle-tencent.png); background-repeat: no-repeat; }.suspension-box div.tencent span.tencent-span { position: absolute; left: 8px; top: 7px; border-radius: 22px; width: 45px; height: 48px; text-align: center; z-index: 99; overflow: hidden; }.suspension-box div.tencent .tencent-qq {position: absolute; left: 3px;top:0px; height: 45px; width: 39px; }.suspension-box div.tel { position: absolute; left: -187px; top: 51px; display: none; width: 177px; height: 85px; background-color: #fff; border: 1px solid #D7D7D7; }.suspension-box div.tel i { width: 8px; height: 15px; position: absolute; top: 20px; right: -8px; background-image: url(../images/trangle-right-suspension.png); background-repeat: no-repeat; }.suspension-box div.tel strong { display: block; margin-left: 17px; margin-top: 16px; font-size: 16px; font-weight: normal; }.suspension-box div.tel p { margin-left: 17px; font-size: 23px; font-family: arial; color: #FD696D; }.icon { margin-top:-5px; }.nav a.cart-title-name { color: #000; text-decoration: none; line-height: normal; }.nav a.cart-title-name:hover { color: #ef353d; text-decoration: underline; line-height: normal; }.nav a font { padding: 8px 15px; background:#fd7878; border-radius: 5px; }.nav a font:hover { padding: 8px 15px; background:#ea5050; border-radius: 5px; }















